{% extends "base.html" %}
{% load static %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block content %}

    <h2>Here are all user profiles: </h2>
    <div>
        <ul>
            {% for pvsystem in object_list %}
                <li>{{ pvsystem }} {{ pvsystem.gm_email }} | <a
                        href="{% url 'pvsystem-update' pvsystem.pk %}">edit</a>
                    <a href="{% url 'pvsystem-delete' pvsystem.pk %}">delete</a>
                </li>
            {% empty %}
                <li>No profile yet.</li>
            {% endfor %}

        </ul>
        <p>
            <a href="{% url 'pvsystem-add' %}">add a profile</a>
        </p>
    </div>
{% endblock %}
